.options {
  display: flex;
  width: inherit;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
}
.option {
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition-duration: 0.3s;
  position: relative;
}

.optionActive {
  bottom: 1rem;
  background-color: var(--textColor);
  border-radius: 1rem;
  transition-duration: 0.3s;
}

@media (min-width: 768px) {
  .options {
    flex-direction: column;
    height: 50%;
    padding: 2rem 0;
  }
  .optionActive {
    bottom: 0;
    left: 1rem;
  }
}
